@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaushan+Script&family=Libre+Franklin:ital,wght@1,900&family=Passion+One:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
:root{
   --fonte1: verdana, genava, tahoma, sans-serif ;
   --fonte2:'Passion One', cursive ;
   --fonte3:'Sriracha', cursive;;
}
*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}
html, body{

    min-height: 100vh;
   /** background-color: darkgray;**/
    font-family: var(--fonte1);
}
header{
    background-color: black;
    color: white;
    text-align: center;
   
}
header> h1{
    font-family: var(--fonte2);
    padding-top: 50px;
    font-variant: small-caps;
     font: size 10vw ;
}
header> p {
    padding-bottom: 50px;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
}
footer{
    background-color:black ;
    color: white;
    text-align: center;
    padding: 10px;
}
section.normal{
    background-color:rgb(255, 255, 255) ;
    color:black;
    font-size: 4.5vw;
}
section.imagen{
    color: brown;
    background-color:rgb(122, 111, 111) ;
    display: inline-block;
    padding: 5px;
}
section{
    padding-top: 10vh;
    padding-top: 10vh;
    ;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vw ;
}
section.imagen> p{
    background-color: black;;
    width: 400px;
margin-top: 10px;
margin-bottom: 10px;
}
section> p {
    padding-bottom: 2em;
}
section#img01{
background-image: url(imagens/background001.jpg);
background-position: right;
}
section#img02{
    background-image: url(imagens/background002.jpg);

}